@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');



li {
    list-style: none;
  }
  
  fieldset {
    margin-top: 2rem;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:visited {
    color: #000;
  }

  #list-link {
    font-size: 3rem;
    color: black;
  
  }
  #add-link {
    font-size: 3rem;
    color: black;

  }
  #contact-link {
    font-size: 3rem;
    color: black;

  }
  nav-hover:hover {
background-color: blue;

  }
  

  

 #awesome {
   color: black;
   font-size: 4rem;
 }

  button {
    appearance: none;
    border: solid 1px #000;
    background-color: #fff;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 96%;
    margin: 1rem auto 0;
    border: solid 5px rgb(59, 36, 36);
 
  }
  
  nav > ul {
    display: flex;
    gap: 1.5rem;
  }

  footer {
    width: 96%;
    padding: 1rem;
    margin: 0 auto 1rem;
    margin: 1rem auto 0;
    border: solid 5px rgb(59, 36, 36);
  }
  
  body  {
    background-image:url(./img/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  #new-book {
    width: 96%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
    border: none;
  }
  
  #new-book > * {
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
  }
  
  #all-books {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 96%;
    margin: 0 auto 1rem;
  }
  
  #book-list li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ccc;
    align-items: center;
  }
  
  #book-list li:nth-child(2n) {
    background-color: #fff;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
  }
  
  #contact > * {
    width: 50%;
    margin: 2rem auto;
    font-size: 3rem
  }
  
  #contact a {
    text-decoration: underline;
  }
  
  #contact > ul {
    list-style: square;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  /*
  Activate and Deactivate styles
  */
  .hide-class {
    position: fixed;
    top: 0;
    left: -110%;
    transition-duration: 0.4s;
  }
  
  .hide-class.active {
    left: 0;
  }

  