body {
  background-color: white;
}

.top-header {
  margin: 15px;
  padding: 0;
}

.navbar {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 35px;
  border: 5px solid rgb(59, 72, 255);
  background-color: rgb(255, 255, 255);
}
.nav-link:hover {
background-color: rgb(59, 72, 255);
transform-style: preserve-3d;
transition: all 500ms ease;
}

.nav-name {
  padding-right: 400px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#contact {
  display: flex;
  justify-content: center;
  align-self: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 96%;
  margin: 25px;
  border: 5px solid rgb(59, 72, 255);
}