html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

#all-books {
  width: 70%;
  border: 0.1rem solid black;
}

#all-books ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#all-books ul li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#all-books ul .bookBlack {
  background-color: rgb(170, 170, 170);
}

.containerTitleAuthor {
  display: flex;
}

.title {
  margin-right: 1rem;
}
